<div class="container mt-lg-4">
  <div class="col-xs-8">
    <h2 class="text-center">Cadastrar livros</h2>
    <div class="align-content-sm-between">
      <form [formGroup]="books" (ngSubmit)="submit()">
        <div class="form-group">
          <label>Nome do livro</label>
          <input class="form-control" type="text" formControlName="name">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Autor do livro</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" formControlName="author">
        </div>
        <div class="form-group" >
          <label>Data da publicação do livro</label>
          <input type="data" class="form-control" placeholder="--/--/----" formControlName="date">
        </div>
        <button class="btn btn-primary mt-lg-3" type="submit">Cadastrar</button>
      </form>
    </div>
  </div>
</div>

<div class="row-cols-md-5">
<table class="table table-borderless mt-lg-5 text-center">
  <thead>
  <tr>
    <th scope="col">Nome</th>
    <th scope="col">Autor</th>
    <th scope="col">Data de cadastro</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>
  <tr>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
  </tr>
  <tr>
    <td>Larry the Bird</td>
    <td>Sapiencia</td>
    <td>ssss</td>
  </tr>
  </tbody>
</table>
</div>
